.aboutus__div {
    background-image: url(./assets/gtp-homepage-pic.jpeg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.aboutus__overlay{
    background-color: rgba(0, 0, 0, 0.541);
    background-size: cover;
    height: 70vh;
}

.aboutus__h3 {
    padding-top: 4.2em;
    padding-left: 5em;
    padding-right: 5em;
    color:white;
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.aboutus__p {
    color: white;
    padding-left: 15em;
    padding-right: 15em;
    padding-bottom: 1em;
    font-size: .8em;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}

.aboutus__btn {
    height: 2.5em;
    width: 10em;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    color:rgb(43, 142, 199);
    font-weight: 500;
    border: none;
    border-radius: 2%;
    cursor: pointer;
}

.aboutus__btn:hover {
    background-color: rgba(218, 218, 218, 0.5);
    transition: color 0.3s linear;
}

@media only screen and (max-width: 500px) {
    .aboutus__div {
        height: 40vh;
        width: 100vw;
    }
   .aboutus__h3 {
    font-size: 1em;
}

.aboutus__p {
    font-size: .5em;
}

.aboutus__btn {
    height: 2.5em;
    width: 10em;
    font-size: .7em;
}
}