.contact__div {
    display: grid;

}

.contact__heroimg {
    background-image: url(./assets/contact.jpeg);
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-size:cover ;
    
}

form {
    padding-left: 4em;
    /* border: 2px red solid;
    grid-column: 2;
    grid-row: 3; */

}
label {
    color: black;
    font-size: .8em;
    margin-bottom: 2em;
}
input {
    width: 25em;
    height: 2.5em;
    border-radius: 1.5%;
    border:1px rgb(180, 180, 180) solid;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.contact__inputcomment {

    width: 50em;
    height: 12em;
}
.contact__inputcomment input {
    border:1px rgb(180, 180, 180) solid;
    width: 50em;
    height: 12em;
}

.contact__span {
    font-weight: bold;
    margin-bottom: 2em;
    font-size: 1em;
}

.contact__h2 {
    font-size: 3em;
    text-align: center;
    font-weight: 400;
}

.contact__btn {
    height: 2.7em;
    width:6em;
    border-radius: 3%;
    border: none;
    background-color: rgb(53, 53, 53);
    color: white;
    font-weight: bold;
}

.contact__btn:hover {
    background-color: rgb(43, 142, 199);
    color: rgb(53, 53, 53);
}

@media only screen and (max-width: 500px) {

.contact__div {
    width: 100vw;
}
form, label, input {
    padding-left: .5em;
    width:100%;
}
.contact__heroimg {
    width: 100vw;
}


.contact__h2, .contact__inputcomment , #name ,#email {
    width: 100vw;
}
}