
nav {
  font-family: 'Nunia', sans-serif;
  padding-bottom: 2em;
}

.nav__btn {
  background-color: white;
  border: none;
  border-radius: 4%;
  color: black;
  padding: 10px 25px;
  text-align: center;
  font-size: .8em;
}

.nav__btn:hover {
  transition: color 0.3s linear;
  background-color: rgb(43, 142, 199);
}