.workingwithusbanner__div {
    padding-top: 0em;
    height: 25vh;
    font-size: 3em;
    text-align: center;
    background-color: gray;
}

.workingwithusbanner__div:hover {
    background-color: rgb(53, 53, 53);
    transition: color 0.3s linear;
}

a {
    text-decoration: none;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 auto;
}

.workingwithusbanner__p:hover {
    color: rgb(43, 142, 199);
    transition: color 0.3s linear;
}

.workingwithusbanner__p {
    color:white;
    margin: 0 auto;
    padding-top: 1.5em;
}

@media only screen and (max-width: 600px) {
    .workingwithusbanner__div {
        font-size: 2em;
        height: 15vh;
        padding-top: .5em;
        width: 100vw;
    }
}