.workingwithusbanner__div {
    background-color: gray;
    padding-top: 0em;
    height: 25vh;
    font-size: 3em;
    text-align: center;
}

a {
    text-decoration: none;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 auto
}

p {
    color:white;
    margin: 0 auto;
    padding-top: 1.5em;
}