body {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  margin: 1px;
}

.app__container{
  height: 100vh;
  overflow-y: scroll;
  display: grid;
  grid-row: .5fr 2fr .5fr .25fr;
  border: 2px red solid;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
}